Documentation/Projektarbeit.aux
Documentation/Projektarbeit.bbl
Documentation/Projektarbeit.blg
Documentation/Projektarbeit.lof
Documentation/Projektarbeit.log
Documentation/Projektarbeit.lol
Documentation/Projektarbeit.lot
Documentation/Projektarbeit.out
Documentation/Projektarbeit.run.xml
Documentation/Projektarbeit.synctex.gz
Documentation/Projektarbeit.toc
Documentation/texput.log